@model Who.Models.RegionsSet

@{
    ViewBag.Title = "Regions";
}
                <script src="~/Scripts/sorttable.js"></script>
                <table class="sortable">
                    <tr>
                        <th>Regions</th>
                    </tr>
                    @foreach (var item in Model.Regions) {
                    <tr class="normal">
                        <td>
                            @Html.ActionLink(@item.Value.Name, "Index", "Home", new { id = item.Value.GUID, name=item.Value.Name }, null )
                        </td>
                    </tr>
                    }
                </table>
