@{
    ViewBag.Title = "Roles";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="~/Scripts/roles.js"></script>

<div><h4>Find a user:</h4><span><input type="text" placeholder="Search..." id="searchText" /></span></div>
<div id="info">Waiting...</div>
<div id="results"></div>