<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">3PP Account Assignments</p>
                </div>
                <div class="float-right">
                    <section id="login">
                       User: <span class="username">@User.Identity.Name</span>
                    </section>
                </div>
            </div>
        </header>
        <div id="body">
            <section class="content-wrapper main-content clear-fix"> @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>Help: <a href="mailto:charlie@xbox.com">charlie@xbox.com</a></p>
                </div>
            </div>
        </footer>
    </body>
</html>
